name: "HCL AppScan CodeSweep"
on:
  push:
    branches:
      - main
  pull_request:
    types: [opened,synchronize]

jobs:
  scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Run AppScan CodeSweep
        uses: HCL-TECH-SOFTWARE/appscan-codesweep-action@v2.1
        with:
          args: "./src ./assignment1_code_sample.py ./assignment1_code_sample_2.ts ./assignment1_code_sample_3.java"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
