name: HCL AppScan CodeSweep

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize]
  workflow_dispatch:

jobs:
  scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Show event info
        run: |
          echo "Event name: $GITHUB_EVENT_NAME"
          echo "Event JSON path: $GITHUB_EVENT_PATH"

      - name: Run AppScan CodeSweep
        uses: HCL-TECH-SOFTWARE/appscan-codesweep-action@v2
        with:
          asoc_key: ${{ secrets.ASOC_KEY }}
          asoc_secret: ${{ secrets.ASOC_SECRET }}
          status: failure
          args: ./
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
